.selectContainer{
  width: 300px;
}
.select{
  position: relative;
  width: 100%;
  height: 44px;
  /* opacity: 0.2; */
  /* background-color: rgb(255, 255, 255, 0.2); */
  border: 1px solid rgba(27, 37, 58, 0.2);
  border-radius: 2px;
}
.selectText{
  font-family: Helvetica;
  font-size: 16px;
  color: #1B253A;
  padding-left: 10px;
}
.noneSelect{
  /* display: none; */
  position: absolute;
  width: 100%;
  opacity: 0;
  height: 44px;
  /* height: 100%; */
  top: 0;
}
.selectArrow{
  position: absolute;
  top: 20px;
  bottom: 20px;
  right: 16px;
}