.openedList{
  width: 100%;
  /* padding: 25px; */
  border-collapse: collapse;
}
.openedListHead{
  padding-left: 22px;
  opacity: 0.6;
  font-family: Helvetica-Bold;
  font-size: 16px;
  color: #4D4F52;
}
.openedListText{
  padding-left: 22px;
  font-family: Helvetica;
  font-size: 13px;
  color: #52575A;
}
.openedList>tr{
  padding: 22px;
}
.openedList>tr >td {
  border-bottom:1pt solid rgba(0,0,0,0.06);
  width: 16.6%  ;
}
.greenText{
  padding-left: 22px;
  font-family: Helvetica-Bold;
  font-size: 16px;
  color: #5C841F;
}
.openTR:hover{
  background-color: grey;
}